# Configuración de MariaDB
MYSQL_ROOT_PASSWORD=yes
DB_NAME=glpi_db
DB_USER=glpi_user
DB_PASSWORD=cambiame_por_favor

# Configuración de GLPI (Deben coincidir con los de arriba)
GLPI_DB_HOST=contenedor_mariadb
GLPI_DB_NAME=glpi_db
GLPI_DB_USER=glpi_user
GLPI_DB_PASSWORD=cambiame_por_favor